<script type="text/javascript">

window.images = {
  pin_icon_small: "<%=image_path('pin_icon_small.jpg')%>"
}

  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end  %>
</script>


<main id="root"> </main>
