html, body, button, h2, input, ul, input {
  margin: 0;
  border: 0;
  padding: 0;

  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}


body {
  font-family: 'Helvetica Neue';
  background: white;
  color: black;
  font-size: 20px;
  height: 100%;
  font-weight: lighter;
  background: image-url('home_page_darken.jpg');
  background-size: cover;
}

.login-body {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #555;
}

.login-form-container {
  background: white;
  display: flex;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 135px;
}

 h3 {
  text-align: center;
  padding-top: 50px;
  margin: 0;
  font-size: 32px;
  letter-spacing: -1.2px;
  -webkit-font-smoothing: antialiased;
}

.greet {
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: -1.2px;
}

.errors {
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 2px, rgba(0, 0, 0, 0.32) 0px 1px 3px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  padding: 10px;
  font-size: 12px;
  list-style: none;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  height: 100px;
}

.icon-pic {
  margin-top: 50px;

}

.icon-pic img {
  width: 50px;
  height: 50px;
}

.form-username, .form-password {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.login-username, .login-password {
  background-color: #FCFFB8;
  font-size: 14px;
  font-weight: bold;
  color: black;
  width: 235px;
  height: 35px;
  padding-left: 10px;
}


.login-username:focus, .login-password:focus{
  background-color: #f0f0f0;
  outline: none; 
}

.submit-button {
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
  padding: 15px 32px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 3px;
  width: 235px;
}

.submit-button:hover {
  cursor: pointer;
}

.altprompt-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.alt-prompt {
  color: rgb(85, 85, 85);
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}
