html, body, button, h2, input, ul, input, link, li {
  margin: 0;
  border: 0;
  padding: 0;

  list-style: none;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}


body {
  font-family: 'Helvetica Neue';
  background: white;
  color: black;
  font-size: 20px;
  height: 100%;
  font-weight: lighter;
  background-color: white;
}




.login-body {
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: image-url('inprog_bg_smaller.jpg');
  background-position: contain;
  -webkit-animation:200s scroll infinite linear;
  -moz-animation:200s scroll infinite linear;
  -o-animation:200s scroll infinite linear;
  -ms-animation:200s scroll infinite linear;
  animation:200s scroll infinite linear;
  width:100%;
  height:100%;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #555;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
    transform: translateY(-300px);

  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}



@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}




.login-form-container {
  background: white;
  display: flex;
  width: 400px;
  height: 550px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 135px;
}

 h3 {
  text-align: center;
  padding-top: 50px;
  margin: 0;
  font-size: 32px;
  letter-spacing: -1.2px;
  -webkit-font-smoothing: antialiased;
}

.greet {
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: -1.2px;
}

.errors {
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 2px, rgba(0, 0, 0, 0.32) 0px 1px 3px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  padding: 10px;
  font-size: 12px;
  list-style: none;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  height: 100px;
}

.icon-pic {
  margin-top: 50px;

}

.icon-pic img {
  width: 50px;
  height: 50px;
}

.form-username, .form-password {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.login-username, .login-password {
  background-color: #FCFFB8;
  font-size: 14px;
  font-weight: bold;
  color: black;
  width: 235px;
  height: 35px;
  padding-left: 10px;
}


.login-username:focus, .login-password:focus{
  background-color: #f0f0f0;
  outline: none;
}

.submit-button {
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
  padding: 15px 32px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 3px;
  width: 235px;
}

.demo-button {
  text-decoration: none;
  font-family: 'Helvetica Neue';
}

.demo-button:hover {
  cursor: pointer;
}

.submit-button:hover {
  cursor: pointer;
}

.altprompt-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.alt-prompt {
  color: rgb(85, 85, 85);
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}

.header {
  justify-content: space-between;
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  background-color: white;
}

.header-icon {
  padding: 4px;
}

.header-icon img {
  width: 30px;
  margin-left: 30px;
  margin-top: 22px;
}

.center-nav {
  margin-left: 30px;
  background-color: #efefef;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.right-nav {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  width: 200px;
}

.logout-container {
  display: flex;
  padding-right: 30px;
}

.logout-button {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

.profile-link {
  margin-top: 15px;
  padding-top: 10px;
  color: #b5b5b5;
}

.profile-link:hover {
  background-color: #efefef;
  border-radius: 50%;
  width: 60px;
}

.profile-link-icon img {
  width: 30px;
  margin-left: 14px;
}

.logout-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

// profile //
.profile {
  padding-left: 280px;
  padding-right: 280px;
  margin: 80px;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
}

.profile-header {

}

.profile-header-bar {
  width: 100%;
  display: flex;
  margin-top: 20px;
  color: #b5b5b5;
  height: 40px;
}

.profile-container {
  max-width: 800px;
  width: 100%;
  margin-left: 27%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.profile-box {
  display: flex;
}

.profile-info {
  height: 192px;
}

.profile-name {
  min-width: 400px;
  vertical-align: top;
}

.username {
  font-size: 30px;
}

.profile-name h2 {
  color: #555;
  font-size: 48px;
  letter-spacing: -1.75px;
  line-height: 56px;
  word-spacing: -2.75px;
  hyphens: auto;
}

.profile-info-right {
  min-width: 200px;
  display: inline-block;
  max-width: 200px;
}

.followers-links {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.followers, .following, .location, .website, .about {
  color: #b5b5b5;
  font-size: 16px;
  letter-spacing: -.2px;
  line-height: 18px;
  word-spacing: 0;
  font-weight: 500;
  word-break: break-word;
  padding: 1px;
  padding-right: 15px;
  max-width: 200px;
}


.profile-pic-circle img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-top: 30px;
}

.profile-header {
    font-size: 27px;
    color: black;
}

.gear {
  margin-left: 28%;
  height: 20px;
  font-size: 30px;
}

.follow-button {
  margin-left: 65%;
  font-size: 16px;
  color: #555;
  background-color: #efefef;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 80px;

}

.follow-button:hover {
  cursor: pointer;
}

//boards

.board-header {
  color: #555;
  margin-left: 30%;
  margin-top: 70px;
  margin-right: 25%;
  margin-top: 100px;
}

.boarder-header-wrapper {
  max-width: 700px;
}

.board-show-info {
  display: flex;
  justify-content: space-between;
}

.board-show-title {
  font-size: 48px;
  line-height: 56px;
  word-spacing: -2.75px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -1.75px;
}

.board-show-description {
  letter-spacing: -1.5px;
  font-weight: 600;

}

.board-show-pin-count {
  display: flex;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pin-number {
  font-weight: bold;
  padding-right: 3px;
}

.pin-number-const {
  letter-spacing: -.15px;
  line-height: 16px;
  font-weight: normal;
  margin-top: 1px;
}

.board-show-pins img {
  max-height: 400px;
  max-width: 400px;
  border-radius: 10px;
}

.board-pin-container {
  display: flex;
  flex-wrap: wrap;
}

.pins {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
}

.pin-description {
  padding-left: 10px;
  min-height: 13px;
}

.pin-description-text {
  max-width: 180px;
  letter-spacing: -.15px;
  line-height: 16px;
  font-weight: normal;
  margin-top: 1px;
  font-size: 14px;
  color: #555;
  padding-bottom: 20px;
}

.pins li {
  padding: 15px;
}

.profile-circle img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-pic {
  margin-bottom: 30px;
}

.cred-item {
  display: flex;
}

.cred-item img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.pin-credits {
  display: flex;
}

.pin-credit-user-wrapper {
  padding-left: 8px;
  color: #717171;
}

.board-name {
  font-size: 12px;
  font-weight: bolder;
}

.author {
  font-size: 12px;
  letter-spacing: -0.1px;
  line-height: 14px;
  word-spacing: 0;
  font-weight: bold;
}
